body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.167;
  text-transform: uppercase;
}

.logo2 {
  color: #2e2f42;
}
